.site-card-container {
	border-style: solid;
	border-color: #444;
	background: #555;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.site-card-title {
	margin-top: 5px;
	margin-left: 5px;
	user-select: none;
}

.site-card-characteristic {
	font-size: 15px;
	margin-right: 10px;
	border-bottom: 1px solid;
	user-select: none;
}

.site-card-row {
	margin-bottom: 0px;
}

.site-card-url {
	width: 200px;
	height: 20px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: keep-all;
	color: red;
	text-decoration: none;
}
