.drop-down-container {
	margin-top: 10px;
	background: #444;
	width: 100%;
}

.drop-down-header {
	display: flex;
	flex-direction: row;
}
.drop-down-header-title {
	background: #444;
	user-select: none;
	padding-left: 10px;
	padding-right: 10px;
}
.drop-down-header-image {
	background: #444;
	width: 25px;
	padding-left: 10px;
	padding-right: 10px;
	user-select: none;
}
.drop-down-list {
	background: #444;
	margin: 0px;
}
.drop-down-list-item {
	background: #444;
	user-select: none;
	text-align: left;
}
