.site-add-container {
	background: #444;
	color: #fff;
	width: 95%;
	height: 95%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
}

.site-add-configuration {
	display: flex;
	flex-direction: row;
	height: 80%;
	text-align: center;
}

.site-add-characteristics {
	width: 25%;
	height: 100%;
	margin-left: 20px;
}

.site-add-description {
	width: 90%;
	color: #fff;
	background-color: #444;
	border: 5px;
	border-color: #888;
	border-style: solid;
	border-radius: 5px;
	resize: none;
	font-size: 20px;
	font-family: Arial;
	max-lines: 10;
}

.site-add-map {
	width: 75%;
	height: 100%;
}

.site-add-submition {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: min-content;
	height: 20%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.site-add-submition-button {
	width: 100px;
	height: 30px;
	margin-top: 10%;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 5px;
	background: #ddd;
	border-color: #fff;
	font-size: 20px;
}
