.register-page-input-container {
    background: #444;
    color: #fff;
    margin-top: 5%;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.register-page-input-title {
    text-align: left;
}

.register-page-input {
    color: #fff;
    background: #444;
    outline: none;
    border: none;
    border-bottom: 2px #fff solid;
}
